@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  overflow-x: hidden;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

svg {
  display: inline;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/*
    CSS Global Variables  
*/
:root {
  --primary-blue: #002d72;
  --secondary-blue: #0072ce;
  --white: #ffffff;
  --black: #272727;
  --txt-gray: #727272;
  --bg-gray: #e4e7ef;
  --first-color: #5aa7a7;
  --second-color: #96d7c6;
  --third-color: #bac94a;
  --fourth-color: #e2d368;
  --fifth-color: #6c8cbf;
}

/* nextjs-portal {
  display: none;
} */
